# http://www.gnu.org/software/autoconf

CMakeCache.txt
CMakeFiles
cmake_install.cmake

install-sh
ltmain.sh

autom4te.cache
stamp-h1
.deps
config.h
config.log
config.status
libtool
.libs
Makefile

latticeTest
ppm

libtaffy*

# emacs
*~
TAGS

*.lo
*.o
*.dirstamp
*la

callgrind.out.*

# windows project
*obj
*tlog
*sdf
*suo
*aps
=======

.DS_Store
configure.lineno

TODO

# executables
arrayTest
assignmentTest
bootstrapTest
bootstrapTest0
characterGraphTest
classManagerTest
classTest
commandLineArgumentsTest
commandLineArgumentsFuzzTest
fileManagementTest
flatArithmeticTest
garbageCollectorTest
graphDataTest
graphTest
hashTest
heapTest
importTest
keywordFuzzTest
lexerTest
listTest
marshallTest
marshallFuzzTest
memoryTest
methodCallPrintTest
nodeEvaluatorTest
numberTest
objectStackTest
packageTest
pairTest
parserTest
scopeTest
stringEvaluatorTest
stringTest
stringCacheTest
taffy
taffyAndPieArgumentsTest
taffyFuzzTest
taffyFuzzTest.ty
threadTest
pie
pieFuzzTest
pieTest
*exe
dcGlobalConfig.h

*#
.#*

__pycache__
